force-app/main/default/flows/SLA_Breach_Email_Alert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_SLA_Breach_Email</name>
        <label>Send SLA Breach Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Loop_Through_Breached_Apps</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientAddresses</name>
            <value>
                <collectionElements>
                    <elementReference>adminUser.Email</elementReference>
                </collectionElements>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>DefaultWorkflowUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useEmailTemplate</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>00XgK00000OohMcUAJ</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>adminUser.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>Loop_Through_Breached_Apps.Id</elementReference>
                <inputConfiguratorMode>Resource</inputConfiguratorMode>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>2.0.1</versionString>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Any_Breached_Apps_Found</name>
        <label>Any Breached Apps Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>breachedApps</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Breached_Apps</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>SLA Breach Email Alert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SLA Breach Email Alert</label>
    <loops>
        <name>Loop_Through_Breached_Apps</name>
        <label>Loop Through Breached Apps</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>breachedApps</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Admin_Profile</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Admin_Profile</name>
        <label>Get Admin Profile</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Admin_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>System Administrator</stringValue>
            </value>
        </filters>
        <object>Profile</object>
        <outputReference>adminProfile</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Admin_User</name>
        <label>Get Admin User</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_SLA_Breach_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>adminProfile.Id</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>adminUser.Email</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>adminUser.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Breached_Applications</name>
        <label>Get Breached Applications</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_Breached_Apps_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </filters>
        <filters>
            <field>SLA_Breach_Date__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <filters>
            <field>SLA_Breach_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Application__c</object>
        <outputReference>breachedApps</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Priority__c</queriedFields>
        <queriedFields>Amount__c</queriedFields>
        <queriedFields>Submission_Date__c</queriedFields>
        <queriedFields>SLA_Breach_Date__c</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <sortField>SLA_Breach_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Breached_Applications</targetReference>
        </connector>
        <schedule>
            <dayOfMonthToRun>0</dayOfMonthToRun>
            <frequency>Daily</frequency>
            <frequencyNumber>0</frequencyNumber>
            <startDate>2026-05-23</startDate>
            <startTime>09:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>adminProfile</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Profile</objectType>
    </variables>
    <variables>
        <name>adminUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>breachedApps</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Application__c</objectType>
    </variables>
</Flow>
